#on_menu{
  background-image: url(../img/wide_parking.jpg);
  height: 500px;
}

#off_menu{
  background-image: url(../img/wide_parking.jpg);
  height: 500px;
}

#two_button{
    display: inline-block;
}

.testimonial span.author{
    color:#000 !important;
}
.testimonial span.author a {
    color:#000 !important;
}

@media (max-width: 667px) {
   .carousel-caption p {
    font-size: 25px !important;
}
}

*{
    list-style: none;
    font-family: 'jua';
}

