<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <!-- BASICS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>서울강남공영이</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/bus3.ico')}}">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  네이버 지도 api meta 추가-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">-->
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/isotope.css')}}" media="screen"/>
  <!--  custom.css 파일 추가(나의 css수정본)-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" media="screen" />
  <link rel="stylesheet" href="{{ url_for('static', filename='js/fancybox/jquery.fancybox.css')}}" type="text/css" media="screen"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive-slider.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
  <!-- skin -->
  <link rel="stylesheet" href="{{ url_for('static', filename='skin/default.css')}}">
  <!--구글 폰트(주아체) 추가-->
  <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <section id="header" class="appear">
      <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars color-white"></span>
          </button>
          <h1><a class="navbar-brand" href="/" data-0="line-height:90px;" data-300="line-height:50px;">공영이</a></h1>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
            <li class="active"><a href="#header">홈</a></li>
            <li><a href="#on_street">노상</a></li>
            <li><a href="#off_street">노외</a></li>
            <li><a href="#footer">Contact</a></li>
          </ul>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </section>
  </div>
  <div class="slider">
    <div id="about-slider">
      <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slider" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active" style="background-image: url('../static/img/parallax/parking2.jpg');">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2>강남 공영이</h2>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>서울시 강남구 공영주차장 전용 웹사이트 입니다.</p>
                </div>
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                <form class="form-inline" id="two_button">
                  <a class="btn btn-success btn-lg text-uppercase js-scroll-trigger" href="#on_street">노상</a>
                  <a class="btn btn-warning btn-lg text-uppercase js-scroll-trigger" href="#off_street">노외</a>
                </form>
              </div>
            </div>
          </div>

          <div class="item" style="background-image: url('../static/img/parallax/parking4.jpg');">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                <h2>GangNam Public Parking Zone</h2>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>This is a website dedicated to the public parking lot of Gangnam.</p>
                </div>
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
                <form class="form-inline">
                  <a class="btn btn-success btn-lg text-uppercase js-scroll-trigger" href="#on_street">ON STREET</a>
                  <a class="btn btn-warning btn-lg text-uppercase js-scroll-trigger" href="#off_street">OFF STREET</a>
                </form>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>

        <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
  </div>
  <!--/#slider-->

  <!--about-->
  <section id="on_street">
    <div class="container">
      <div class="about">
        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="title">
              <div class="wow bounceIn">
                <h2 class="section-heading animated" data-animation="bounceInUp">노상주차장</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="row-slider">
            <div class="col-lg-6 mar-bot30">
              <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                <div class="slides" data-group="slides">
                  <ul>
                    <div class="slide-body col-6" data-group="slide">
                      <li><img alt="" class="img-responsive" src="{{ url_for('static', filename='img/onload1.jpg')}}" width="100%" height="100%" /></li>
                      <li><img alt="" class="img-responsive" src="{{ url_for('static', filename='img/onload2.jpg')}}" width="100%" height="100%" /></li>
                      <li><img alt="" class="img-responsive" src="{{ url_for('static', filename='img/onload3.jpg')}}" width="100%" height="100%" /></li>
                    </div>
                  </ul>
                  <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
                  <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
                <button onclick="update_gangnam_parking_info('노상','parking_list_onload')" class='btn btn-lg btn-block'>업데이트</button><hr>
              <div class="company text-center" id="parking_list_onload">
      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/about-->

  <!-- spacer section:testimonial -->
  <section id="on_menu" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="align-center">
            <div class="testimonial pad-top40 pad-bot40 clearfix">
              <h2 style="color:black">
                <b>노상 주차장은 야외 및 도로위에 있는 주차장입니다.</b>
              </h2>
              <br/>
              <span class="author">&mdash; 서울시 <a href="#">공영주차장 </a>&mdash;</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
    <!--about-->
  <section id="off_street">
    <div class="container">
      <div class="about">
        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="title">
             <hr>
              <div class="wow bounceIn">
                <h2 class="section-heading animated" data-animation="bounceInUp">노외주차장</h2>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-slider">
            <div class="col-lg-6 mar-bot30">
              <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                <div class="slides" data-group="slides">
                  <ul>
                    <div class="slide-body" data-group="slide">
                      <li><img alt="" class="img-responsive" src="{{ url_for('static', filename='img/offload1.jpg')}}" width="100%" height="100%" /></li>
                      <li><img alt="" class="img-responsive" src="{{ url_for('static', filename='img/offload2.jpg')}}" width="100%" height="100%" /></li>
                      <li><img alt="" class="img-responsive" src="{{ url_for('static', filename='img/offload3.jpg')}}" width="100%" height="100%" /></li>
                    </div>
                  </ul>
                  <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
                  <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 ">
                <button onclick="update_gangnam_parking_info('노외','parking_list_offload')" class="btn btn-lg btn-block">업데이트</button><hr>
                <div class="company text-center" id="parking_list_offload">
                
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/about-->
    <!-- spacer section:testimonial -->
  <section id="off_menu" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="align-center">
            <div class="testimonial pad-top40 pad-bot40 clearfix">
              <h2 style="color:black">
                <b>노외 주차장은 건물 및 지정된 위치에 있는 주차장입니다.</b>
              </h2>
              <br />
              <span class="author">&mdash; 서울시 <a href="#">공영주차장 </a>&mdash;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
          <ul class="social-network social-circle">
            <li><a href="https://github.com/KANGSUNGHO/public_parking" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="row align-center copyright">
        <div class="col-sm-12">
          <p>&copy; KANG SUNG HO</p>
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>

  </section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  <script src="{{ url_for('static', filename='js/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.isotope.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/fancybox/jquery.fancybox.pack.js')}}"></script>
  <script src="{{ url_for('static', filename='js/skrollr.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.scrollTo.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.localScroll.js')}}"></script>
  <script src="{{ url_for('static', filename='js/stellar.js')}}"></script>
  <script src="{{ url_for('static', filename='js/responsive-slider.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.appear.js')}}"></script>
  <script src="{{ url_for('static', filename='js/grid.js')}}"></script>    
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>

    <!-- 네이버맵 api key -->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=id"></script>
  <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
  <script>
    wow = new WOW({}).init();
  </script>
  <script src="{{ url_for('static', filename='contactform/contactform.js')}}"></script>

</body>

</html>